@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root { 
 
  height: 100vh;
  width: 100vw;
  
  
  margin: 0; 
  padding: 0; 
  overflow: hidden; 
  
  /* Força o fundo a ser o do tema*/
  background-color: rgb(var(--color-background-0));
}

/* ==========================================
  TEMA BASE (Modo Claro)
  ==========================================
*/
:root {
  /* SUA MARCA (MERCADO SOUTO) */
  --color-primary-500: 0 45 114; /* Azul */
  --color-secondary-500: 244 201 71; /* Amarelo */

  /* FUNDOS */
  --color-background-0: 255 255 255; /* #FFFFFF  */
  --color-background-50: 249 250 251; /* #F9FAFB */

  /* TEXTOS */
  --color-typography-900: 17 24 39; /* Quase preto */
  --color-typography-700: 55 65 81; /* Cinza escuro */
  --color-typography-500: 107 114 128; /* Cinza */

  /* BORDAS (OUTLINE) */
  --color-outline-300: 209 213 219; /* Cinza claro */
  --color-outline-500: 0 45 114; /* Seu Azul, para foco */
  
  /* Cores de Feedback  */
  --color-success-500: 22 163 74; /* Verde */
  --color-error-500: 220 38 38; /* Vermelho */
}

/* ==========================================
  TEMA ESCURO (Dark Mode)
  ==========================================
*/
.dark {
  /* Sua Marca */
  --color-primary-500: 0 45 114; /* Azul */
  --color-secondary-500: 244 201 71; /* Amarelo */

  /* Fundos */
  --color-background-0: 17 24 39; /* Fundo escuro */
  --color-background-50: 31 41 55; /* Fundo sutil escuro */

  /* Textos */
  --color-typography-900: 249 250 251; /* Branco */
  --color-typography-700: 209 213 219; /* Cinza claro */
  --color-typography-500: 156 163 175; /* Cinza */

  /* Bordas */
  --color-outline-300: 55 65 81; /* Borda escura */
  --color-outline-500: 0 45 114; /* Azul, para foco */
}


img[class^="css-accessibilityImage"],
img[class*="css-accessibilityImage"] {
  display: none !important;
  visibility: hidden !important;
  width: 0 !important;
  height: 0 !important;
  pointer-events: none !important;
  position: static !important;
}